---
title: news
layout: default
bodyClass: page-team-list
---

<!-- Headline part !-->
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>News</h1>
            </div>
        </div>
    </div>
</div>

<div class="container pb-9">
    <div class="row">
        {% for new in site.news %}
        <div class="col-12 col-md-9 mb-3 ">
            <div class="team team-summary">
                <!-- {% if new.image %} -->
                <!-- <div class="team-image text-center"> -->
                <!--     <img -->
                <!--         alt="{{ new.title }} logo" -->
                <!--         class="img-fluid mb-2" -->
                <!--         src="{{site.baseurl}}{{ new.image }}" -->
                <!--         /> -->
                <!-- </div> -->
                <!-- {% endif %} -->
                <div class="team-meta">
                    <h2 class="team-name">{{ new.title }}</h2>
                <div class="team-content">{{ new.content }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


